<h1>Edit a Program</h1>

<%= form_tag "/programs/#{@program.id}", method: :patch do %>
  <%= label_tag :program_start_date %>
  <%= text_field_tag :start_date, @program.start_date %>
  <%= label_tag :program_end_date %>
  <%= text_field_tag :end_date, @program.end_date %>
  <%= check_box_tag(:active, true, @program.active) %>
  <%= submit_tag 'Save' %>

<% end %>

<%= link_to 'Back', "/programs", class:"btn btn-primary" %>