<h1>Programs:</h1>

<%if current_user.admin %>
  <%= link_to 'New Program', '/programs/new', class:"btn btn-success" %><br><br><br>
<% end %>

<% @programs.each do |program| %>
  <hr>

  <% @count += 1 %>
  <% if @count % 2 == 0 %>
    <div class="light-div container">
  <% else %>
    <div class="dark-div container">
  <% end %>

    <center>
      <h3><%= "#{program.start_date} - #{program.end_date}" %></h3>
      <br>
      <a class="btn btn-primary signup-btn1 signup-right" href="/users_programs/<%=program.id%>/new">Join Program</a>
    </center>

    <% if current_user.admin %>
      <b><% if program.active %>
        Active
      <% else %>
        Unactive
      <% end %></b>
      <br>
      <%= link_to 'Edit', "/programs/#{program.id}/edit", class:"btn btn-info" %>
      <%= link_to 'Delete', "/programs/#{program.id}", class:"btn btn-danger", :method => :delete %>
      <br>
    <% end %>
  </div>
<% end %>

<hr>