<h3>Log your diet:</h3>
<% @diets.each do |diet| %>
  <hr>
  <% if diet.day%2 == 0 %>
    <div class="container dark-div">
  <% else %>
    <div class="container light-div">
  <% end %>
    <div class="col-sm-2 col-xs-12 edit-btn-div">
      <button class="btn btn-primary edit-btn editJumbo<%=diet.day%>">Edit</button>
    </div>
    <div class="row">
      <div class="col-sm-2 col-xs-12 day-weight">
        <p><b>Day:</b> <%= diet.day %></p>
        <% if diet.weight %>
          <p><b>Weight:</b> <%= diet.weight %></p>
        <% else %>
          <p><b>Weight:</b> --</p>
        <% end %>
      </div>
      <% if diet.anything? %>
        <div class="col-sm-3 col-xs-6 diet-log">
          <p><b>Moderations:</b></p>
          <ul style="list-style:none;">
            <% if diet.nuts_and_seeds > 0 %>
              <li><%= "#{diet.nuts_and_seeds} Nuts or Seeds" %></li>
            <% end %>
            <% if diet.greek_yogurt > 0 %>
              <li><%= "#{diet.greek_yogurt} Greek Yogurt" %></li>
            <% end %>
            <% if diet.cheese > 0 %>
              <li><%= "#{diet.cheese} Cheese" %></li>
            <% end %>
            <% if diet.almond_butter > 0 %>
              <li><%= "#{diet.almond_butter} Almond Butter" %></li>
            <% end %>
            <% if diet.zoodles > 0 %>
              <li><%= "#{diet.zoodles} Zoodles" %></li>
            <% end %>
            <% if diet.spaghetti_squash > 0%>
              <li><%= "#{diet.spaghetti_squash} Spaghtti Squash" %></li>
            <% end %>
            <% if diet.hummus_and_guac > 0 %>
              <li><%= "#{diet.hummus_and_guac} Hummus or Guac." %></li>
            <% end %>
            <% if diet.cottage_cheese > 0 %>
              <li><%= "#{diet.cottage_cheese} Cottage Cheese" %></li>
            <% end %>
          </ul>
        </div>
        <div class="col-sm-4 col-xs-6 diet-log">
          <p><b>Options:</b></p>
          <ul style="list-style:none;">
            <% if diet.fruit > 0 %>
              <li><%= "#{diet.fruit} Fruit" %></li>
            <% end %>
            <% if diet.happy > 0 %>
              <li><%= "#{diet.happy} Happy" %></li>
            <% end %>
            <% if diet.bean > 0 %>
              <li><%= "#{diet.bean} Bean" %></li>
            <% end %>
            <% if diet.chocolate_bar > 0 %>
              <li><%= "#{diet.chocolate_bar} 1/2 Chocolate Bar" %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
      <% if diet.anything? == false %>
        <div class="col-xs-10">
          <p>You haven't entered anything for today</p>
        </div>
      <% end %>
    </div>
    <% if diet.hawaiian_nut_fast || diet.hour_fast_18 %>
      <div class="col-xs-6">
        <p><b>Fasting:</b></p>
        <ul style="list-style:none;">
          <% if diet.hawaiian_nut_fast %>
            <li>Hawaiian Nut Fast</li>
          <% end %>
          <% if diet.hour_fast_18 %>
            <li>18 Hour Fast</li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <% if diet.cheat_meal %>
      <div class="col-xs-6">
        <p><b>Cheat Meal</b></p>
      </div>
    <% end %>
  </div><!-- Ends if even or odd containers -->
  <div class= "jumbo-wrapper" id="jumbo-edit<%=diet.day%>" style="display:none;">
    <div class="editJumbo" id="edit-jumbo<%=diet.day%>" style="display:none;">
      <div class="container">
        <%= form_tag "/diets/#{diet.id}", method: :patch do %>
          <h4>Edit Day <%= diet.day %></h4>
          <b>Weight:</b>
          <%= text_field_tag :weight, diet.weight %>
          <br>
          <br>
          Enter how many of each item you ate on this day or if you fasted or had a cheat meal
          <br>
          <br>
          <div class="col-xs-6 col-sm-3">
            <b>Moderations:</b><br>
            Nuts or Seeds<br>
            <%= select_tag(:nuts_and_seeds, options_for_select([[0, 0], [1, 1], [2, 2], [3, 3]], diet.nuts_and_seeds)) %>
            <br>
            Greek Yogurt<br>
            <%= select_tag(:greek_yogurt, options_for_select([[0, 0], [1, 1], [2, 2], [3, 3]], diet.greek_yogurt)) %>
            <br>
            Cheese<br>
            <%= select_tag(:cheese, options_for_select([[0, 0], [1, 1], [2, 2], [3, 3]], diet.cheese)) %>
            <br>
            Almond Butter<br>
            <%= select_tag(:almond_butter, options_for_select([[0, 0], [1, 1], [2, 2], [3, 3]], diet.almond_butter)) %>
            <br>
            Zoodles<br>
            <%= select_tag(:zoodles, options_for_select([[0, 0], [1, 1], [2, 2], [3, 3]], diet.zoodles)) %>
            <br>
            Spaghtti Squash<br>
            <%= select_tag(:spaghetti_squash, options_for_select([[0, 0], [1, 1], [2, 2], [3, 3]], diet.spaghetti_squash)) %>
            <br>
            Hummus or Guac.<br>
            <%= select_tag(:hummus_and_guac, options_for_select([[0, 0], [1, 1], [2, 2], [3, 3]], diet.hummus_and_guac)) %>
            <br>
            Cottage Cheese<br>
            <%= select_tag(:cottage_cheese, options_for_select([[0, 0], [1, 1], [2, 2], [3, 3]], diet.cottage_cheese)) %>
            <br>
          </div>
          <div class="col-xs-6 col-sm-3">
            <b>Options:</b><br>
            Fruit<br>
            <%= select_tag(:fruit, options_for_select([[0, 0], [1, 1], [2, 2]], diet.fruit)) %>
            <br>
            Happy<br>
            <%= select_tag(:happy, options_for_select([[0, 0], [1, 1], [2, 2]], diet.happy)) %>
            <br>
            Bean<br>
            <%= select_tag(:bean, options_for_select([[0, 0], [1, 1], [2, 2]], diet.bean)) %>
            <br>
            1/2 Chocolate Bar<br>
            <%= select_tag(:chocolate_bar, options_for_select([[0, 0], [1, 1]], diet.chocolate_bar)) %>
            <br>
          </div>
          <div class="col-xs-6 col-sm-3">
            <b>Fasting:</b><br>
            Hawaiian Nut Fast<br>
            <%= check_box_tag(:hawaiian_nut_fast, true, diet.hawaiian_nut_fast) %>
            <br>
            18 Hour Fast<br>
            <%= check_box_tag(:hour_fast_18, true, diet.hour_fast_18) %>
            <br>
          </div>
          <div class="col-xs-6 col-sm-3">
            <b>Cheat Meal:</b><br>
            <%= check_box_tag(:cheat_meal, true, diet.cheat_meal) %>
          </div>
          <%= submit_tag "Save", class:"btn btn-primary save-btn editJumbo#{diet.day}" %>
        <% end %>
        <button class="btn btn-primary close-btn editJumbo<%=diet.day%>">Close</button>
      </div>
    </div>
  </div>
  <script>
    $(document).ready(function() {
      $(".editJumbo" + <%=diet.day%>).on("click", function() {
        var edit = document.getElementById("edit-jumbo" + <%=diet.day%>);
        var jumbo = document.getElementById("jumbo-edit" + <%=diet.day%>);
        if (edit.style.display === 'none') {
          edit.style.display = '';
        } else {
          edit.style.display = "none";
        }
        if (jumbo.style.display === 'none') {
          jumbo.style.display = '';
        } else {
          jumbo.style.display = "none";
        }
      })
    })
  </script>
<% end %>