<!DOCTYPE html>
<html>
  <head>
    <title>MobiLean</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="http://mobiusfit.com">
            <img class="mobius-image" alt="Brand" src="http://mobiusfit.com/wp-content/uploads/2015/11/Mobius-Fit-Logo-Sky-Blue2112.png">
          </a>
          <a class="navbar-brand" href="/">Home</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <% if current_user && current_user.active_diet %>
              <li class="nav-link"><a href="/diets/mobi_meals">Mobi-Meals</a></li>
              <li class="nav-link"><a href="/blogs">Mark's Blog</a></li>
              <li class="nav-link"><a href="/diets">Diet Information</a></li>
              <li class="nav-link"><a href="/diets/<%= current_user.active_diet %>/edit">Log Your Diet</a></li>
              <li><%= link_to "Log out", "/logout", class:"nav-link", method: :delete %></li>
            <% elsif current_user %>
              <li class="nav-link"><a href="/programs">Programs</a></li>
              <li><%= link_to "Log out", "/logout", class:"nav-link", method: :delete %></li>
            <% else %>
              <li><a class="nav-link" href="/users/new">Signup</a></li>
              <li><a class="nav-link" href="/login">Login</a></li>
            <% end %>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container flash-message">
      <% flash.each do |name, message| %>
        <div class="alert alert-<%= name %> alert-dismissible" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button><%= message.html_safe %>
        </div>
      <% end %>
    </div>

    <div class="body-container">
      <%= yield %>
    </div>

<!--     <footer class="footer">
      <div class="container">
        <div class="col-xs-6 footer-content">
          <h5><a class="dark-link" href="http://mobiusfit.com">Mobius Fit</a></h5>
        </div>
        <div class="col-xs-6 footer-content">
          <h5><a class="dark-link" href="/">Mobi-Lean</a></h5>
        </div>
      </div>
    </footer> -->

  </body>
</html>
